<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">about</a></li>
        </ul>
      </div>
    </nav>
    <section>
      <div class="w3-container">
        <table class="w3-table-all">
          <thead>
            <tr class="w3-light-grey">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < dataUser.length; i++) { %>
            <tr>
              <td><%= dataUser[i].id %></td>
              <td><%= dataUser[i].name %></td>
              <td>
                <button><a href="/detail/user/<%= dataUser[i].id %>" target="_blank">Detail</a></button>
                <button>Edit</button>
                <button>Delete</button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
