<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <form action="/update-user" method="POST">
      <div>
        <label>last name:</label>
        <input type="text" name="lastName" value="<%=dataUser.name%>" />
        <input type="text" name="id" value="<%=dataUser.id%>" hidden />
        <button type="submit">Chinh sua</button>
      </div>
    </form>
  </body>
</html>
