<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/update.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <form action="/update-user" method="POST">
        <input type="text" name="id" value="<%=dataUser.id%>" hidden />
        <label>Full name:</label>
        <input type="text" name="fullname" value="<%=dataUser.fullname%>" />
        <label>Email:</label>
        <input type="email" name="email" value="<%=dataUser.email%>" />
        <label>Password:</label>
        <input type="text" name="password" value="<%=dataUser.password%>" />
        <button type="submit">Save</button>
      </form>
    </div>
  </body>
</html>
