.container {
      display: flex;
      justify-content: center;
}

form {
      width: 500px;
      display: flex;
      flex-direction: column;
}

form input {
      padding: 15px;
      border-radius: 10px;
      margin: 10px 0;
}

form button {
      padding: 15px;
      border-radius: 10px;
      margin: 10px 0;
      background-color: rgb(61, 61, 202);
      border: none;
      color: white;
      font-weight: 600;
}

form button:hover {
      cursor: pointer;
      background-color: rgb(39, 168, 211);
}